@using Data.Infrastructure.StructureMap
@using Data.Interfaces
@using StructureMap
@using Roles = Data.States.Roles
@model HandleErrorInfo
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="/Content/css/frontcss/main.css" rel="stylesheet" />
    <title></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fr8</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href='/Content/img/favicon.ico' />
    <meta name="statusCode" content="404">

    @Html.Raw(Styles.Render("~/bundles/css/bootstrap23").ToHtmlString())
    @Html.Raw(Styles.Render("~/bundles/css/bootstrap-responsive").ToHtmlString())
    @Html.Raw(Styles.Render("~/bundles/css/colorbox").ToHtmlString())
    @Html.Raw(Styles.Render("~/bundles/css/frontpage").ToHtmlString())
    

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300,600,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href="/Content/css/additionalcss/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="/Content/js/respond.min.js"></script>
    <![endif]-->

</head>
    <body style="overflow:hidden;">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <br />
                    <div class="nav-collapse">
                        <ul class="nav pull-right">
                            <li data-section="2"><a href="/#how_to_works" title="How it Works">How it Works</a></li>
                            <li data-section="3"><a href="/#faq" title="FAQ">FAQ</a></li>
                            <!-- 	<li data-section="3"><a href="#">About Us</a></li> -->
                            <li><a href="/Account/Index" title="SignUp/Login">SignUp/Login</a></li>
                            <!-- 	<li data-section="3"><a href="#">About Us</a></li> -->
                            <li data-section="4"><a href="/#contacts" title="Contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="welcome" class="parallax top-banner home-welcome" style="cursor:default;" data-section="1" style="background-position: 50% 0px;">
            <div class="landing-welcome-area" style="margin-top: 0px; opacity: 1; display: block; top:250px; bottom:50px; overflow:auto;">
                <div class="landing-welcome-inner">
                    <div id="logotext" class="text" style="margin:auto; float:none; cursor:default; width:100%;">
                        <h1>Error: 404</h1>
                        <p>@Model.Exception.Message
                            @{
                                bool isAdminUser;
                                var userID = ObjectFactory.GetInstance<ISecurityServices>().GetCurrentUser();
                                using (var uow = ObjectFactory.GetInstance<IUnitOfWork>())
                                {
                                    isAdminUser = uow.AspNetUserRolesRepository.UserHasRole(Roles.Admin, userID);
                                }
                            }
                            @if (Model != null && isAdminUser)
                            { 
                                <div style="overflow-wrap:break-word">
                                    <p>
                                        <b>Controller:</b> @Html.Raw(Model.ControllerName.StringCSharpLineBreakToHTMLLineBreak())<br />
                                        <b>Action:</b> @Html.Raw(Model.ActionName.StringCSharpLineBreakToHTMLLineBreak())
                                    </p>
                                    <div>
                                        <pre style="font-family:'Open Sans', Helvetica, Helvetica Nue, Arial, sans-serif; font-size:12pt">@Html.Raw(Model.Exception.StackTrace.StringCSharpLineBreakToHTMLLineBreak())</pre>
                                    </div>
                                </div>
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
