@using Data.Infrastructure.StructureMap
@using StructureMap
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Fr8 Company: Open iPaaS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href='~/Content/img/favicon.ico' />
    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/cookies")
    @Scripts.Render("~/bundles/js/customjs")
    @Styles.Render("~/bundles/css/bootstrap30")
    @Styles.Render("~/bundles/css/bootstrap-responsive")
    @Styles.Render("~/bundles/css/colorbox")
    @Styles.Render("~/bundles/css/frontpage")

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300,600,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href="~/Content/css/additionalcss/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/additionalcss/font-awesome/css/style.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="~/Content/js/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        var segmentKey = "@(Fr8.Infrastructure.Utilities.Configuration.CloudConfigurationManager.GetSetting("SegmentWriteKey"))";
        if (segmentKey !== "") {
            window.analytics = window.analytics || [], window.analytics.methods = ["identify", "group", "track", "page", "pageview", "alias", "ready", "on", "once", "off", "trackLink", "trackForm", "trackClick", "trackSubmit"], window.analytics.factory = function(t) {
                return function() {
                    var a = Array.prototype.slice.call(arguments);
                    return a.unshift(t), window.analytics.push(a), window.analytics
                }
            };
            for (var i = 0; i < window.analytics.methods.length; i++) {
                var key = window.analytics.methods[i];
                window.analytics[key] = window.analytics.factory(key)
            }
            window.analytics.load = function(t) {
                    if (!document.getElementById("analytics-js")) {
                        var a = document.createElement("script");
                        a.type = "text/javascript", a.id = "analytics-js", a.async = !0, a.src = ("https:" === document.location.protocol ? "https://" : "http://") + "cdn.segment.io/analytics.js/v1/" + t + "/analytics.min.js";
                        var n = document.getElementsByTagName("script")[0];
                        n.parentNode.insertBefore(a, n)
                    }
                }, window.analytics.SNIPPET_VERSION = "2.0.9",
                window.analytics.load(segmentKey);
        }
        @{
            var userID = ObjectFactory.GetInstance<ISecurityServices>().GetCurrentUser();
            if (String.IsNullOrWhiteSpace(userID))
            {
                userID = "";
            }
            var sessionID = Session.SessionID;
            if (String.IsNullOrWhiteSpace(sessionID))
            {
                sessionID = "";
            }
        }
        var userID = '';
        if ('@userID' !== '') {
            userID = '@userID';
        } else {
            var cookieID = $.cookie('sessionID');
            if (cookieID != null) {
                userID = cookieID;
            } else {
                userID = '@sessionID';
            }
        }
        $.cookie('sessionID', userID);
        if (window.analytics != null) {
            window.analytics.page('Visited Page - Home');
        }
    </script>
    <script type="text/javascript">
        //The below is vimeo's API. Since we cannot track events in an IFrame, we need to post messages to vimeo to retrieve play events.
        $(function () {
            $(function () {

                // Call the API when a button is pressed
                $('button').on('click', function () {
                    post($(this).text().toLowerCase());
                });

                // Helper function for sending a message to the player
                function post(action, value) {
                    var data = {
                        method: action
                    };

                    if (value) {
                        data.value = value;
                    }

                    var message = JSON.stringify(data);
                }


            });
        });

    </script>
</head>
<body>
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="fullpage">
        <div id="wrap">

            <header id="site-header" class="container-fluid">
                <div class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <!------SINGUP/LOGIN UPRIGHT OR WELCOMING MESSAGE----------------------------------->
                            @using Microsoft.AspNet.Identity
                            @if (Request.IsAuthenticated) {
                                <h1 class="site-logo">
                                    <a class="navbar-brand" href="/" title="fr8">
                                        <img src="~/Content/img/site/site-logo.png" alt="fr8" title="fr8">
                                    </a>
                                </h1>
                                <div class="pull-right visible-desktop visible-tablet">
                                    <a href="/dashboard/#myaccount" title="Manage">
                                        Hello
                                        @if (User.IsInRole("Guest")) {
                                            <text>Guest User!</text>
                                        } else {
                                            <text>@User.Identity.GetUserName()!</text>
                                        }
                                    </a>
                                    @if (User.IsInRole("Guest")) {
                                        <span>&nbsp;&nbsp;</span>
                                        <a href="/Account/Logoff">
                                            <span>Have an Account? Login</span>
                                        </a>
                                    }
                                </div>
                            } else {
                                <h1 class="site-logo">
                                    <a class="navbar-brand" href="/" title="fr8">
                                        <img src="~/Content/img/site/site-logo.png" alt="fr8" title="fr8">
                                    </a>
                                </h1>
                                <div class="pull-right visible-desktop visible-tablet"><a href="/Account" title="SignUp/Login">SignUp/Login</a></div>
                            }
                            <!------END OF SINGUP/LOGIN UPRIGHT OR WELCOMING MESSAGE-------------------------->
                        </div>
                    </div>
                    <div class="main-nav">
                        <div class="container">
                            <div class="collapse navbar-collapse">
                                <nav>
                                    @Html.Partial("_HomeNav")
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            @RenderBody()
            <div class="clear clear-footer-spacer"></div>
        </div>
        <footer id="site-footer">
            <div class="page-prefooter ng-scope">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                            <h2>About</h2>
                            <p>fr8 is the open standard for cloud workflow.</p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                            <h2>Subscribe Email</h2>
                            <div class="subscribe-form">
                                <div class="input-group">
                                    <input type="text" placeholder="mail@email.com" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn" type="button" onclick="SendMail();">Submit</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix visible-sm-block"></div>
                        <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                            <h2>Follow Us On</h2>
                            <ul class="social-icons">
                                <li>
                                    <a href="#" data-original-title="rss" class="rss"></a>
                                </li>
                                <li>
                                    <a href="#" data-original-title="facebook" class="facebook"></a>
                                </li>
                                <li>
                                    <a href="#" data-original-title="twitter" class="twitter"></a>
                                </li>
                                <li>
                                    <a href="#" data-original-title="googleplus" class="googleplus"></a>
                                </li>
                                <li>
                                    <a href="#" data-original-title="linkedin" class="linkedin"></a>
                                </li>
                                <li>
                                    <a href="#" data-original-title="youtube" class="youtube"></a>
                                </li>
                                <li>
                                    <a href="#" data-original-title="vimeo" class="vimeo"></a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12 footer-block">
                            <h2>Contacts</h2>
                            <address class="margin-bottom-40">
                                Phone: 415 555 1212<br>
                                Email: <a href="mailto:info@metronic.com">info@fr8.co</a>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-footer ng-scope">
                <div class="container">
                    @DateTime.Now.Year © The Fr8 Company. All Rights Reserved.
                </div>
            </div>
        </footer>
    </div>
    <a class="goTop goTop-link" title="Go Top"><i class="fa fa-arrow-up"></i></a>

    @Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js/colorbox")
    @Scripts.Render("~/bundles/js/waypoints")
    @Scripts.Render("~/bundles/js/placeholder")
    @Scripts.Render("~/bundles/js/modernizr")
    <script src="https://secure-a.vimeocdn.com/js/froogaloop2.min.js"></script>
    <script src="http://alvarotrigo.com/fullPage/jquery.fullPage.min.js"></script>
    @Scripts.Render("~/bundles/js/main")

    <script type="text/javascript">
        // this function is used to get values and sent pass these values to “ProcessSubmittedEmail” action method on "HomeController" using ajax
        //and display contant result to user using alert
        function SendMail() {
            $.ajax({
                url: "/Home/ProcessSubmittedEmail",
                type: "POST",
                async: true,
                data: { 'name': $('#name').val(), 'emailId': $('#emailId').val(), 'message': $('#message').val() },
                success: function (result) {
                    if (result == "success") {
                        $('#name').val(""); $('#emailId').val(""); $('#message').val("");
                        $('#spMessage').html("Email Submitted");
                    }
                    else {
                        $('#spMessage').html(result);
                    }
                }
            });
        }
    </script>
</body>
</html>
