@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "logoutForm", @class = " " }))
    {
        <ul class="nav navbar-nav">
            <li><a href="/Services/HowItWorks" title="How It Works">How It Works</a></li>
            <li data-scroll="scrolling" class="dropdown">
                <a href="/#services" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Services">Services <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/Services/DocuSign">DocuSign</a></li>
                    @*<li><a href="/Services/Salesforce">Salesforce.com</a></li>
                    <li><a href="/Services/GoogleApps">Google Apps</a></li>
                    <li><a href="/Home/ConditionalLogicBranching">Conditional Logic Branching</a></li>
                    <li><a href="/Home/IntegrationWithOtherDataServices">Integration with Other Data Services</a></li>
                    <li><a href="/Home/InterOrganizationWorkflows">Inter-Organization Workflows</a></li>
                    <li><a href="/Home/DataExtractionintoSQLServer">Data Extraction into SQL Server</a></li>*@
                </ul>
            </li>
            <li><a href="https://github.com/Fr8org/Fr8Core/blob/master/Docs/Home.md" class="develop" title="Developers">Developers</a></li>
            <li data-scroll="scrolling" class="dropdown">
                <a href="/#aboutus" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Company">Company <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li data-scroll="scrolling"><a href="/Company/#vision">Vision</a></li>
                    <li data-scroll="scrolling"><a href="/Company/#team">Team</a></li>
                    <li data-scroll="scrolling"><a href="/Company/#location">Location</a></li>
                    <li data-scroll="scrolling"><a href="/Company/#company">Jobs</a></li>
                    <li data-scroll="scrolling"><a href="/#aboutus">About Us</a></li>
                </ul>
            </li>
            <li><a href="/Support" title="Contact">Contact</a></li>
            <li><a href="../dashboard#/myaccount">My Account</a> </li>
            @if (User.IsInRole("Guest"))
            {
                <li class="visible-xs">@Html.ActionLink("Have An Account? Login", "LogOff", "DockyardAccount", routeValues: null, htmlAttributes: new { id = "logoffLink" })</li>
            }
            else
            {
                <li>@Html.ActionLink("Sign Out", "LogOff", "DockyardAccount", routeValues: null, htmlAttributes: new { id = "logoffLink" })</li>
            }
        </ul>
    }
}
else
{

    <!--"@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")"-->
    <ul class="nav navbar-nav @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "home-nav" : "")">
        <li><a href="/Services/HowItWorks" title="How It Works">How It Works</a></li>
        <li data-scroll="scrolling" class="dropdown">
            <a href="/#services" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Services">Solutions <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/Services/DocuSign">DocuSign</a></li>
                @*<li><a href="/Services/Salesforce">Salesforce.com</a></li>
                <li><a href="/Services/GoogleApps">Google Apps</a></li>
                <li><a href="/Home/ConditionalLogicBranching">Conditional Logic Branching</a></li>
                <li><a href="/Home/IntegrationWithOtherDataServices">Integration with Other Data Services</a></li>
                <li><a href="/Home/InterOrganizationWorkflows">Inter-Organization Workflows</a></li>
                <li><a href="/Home/DataExtractionintoSQLServer">Data Extraction into SQL Server</a></li>*@
            </ul>
        </li>
        <li><a href="https://github.com/Fr8org/Fr8Core/blob/master/Docs/Home.md" class="develop" title="Developers">Developers</a></li>
        <li data-scroll="scrolling" class="dropdown">
            <a href="/#aboutus" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Company">Company <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li data-scroll="scrolling"><a href="/Company/#vision">Vision</a></li>
                <li data-scroll="scrolling"><a href="/Company/#team">Team</a></li>
                <li data-scroll="scrolling"><a href="/Company/#location">Location</a></li>
                <li data-scroll="scrolling"><a href="/Company/#company">Jobs</a></li>
                <li data-scroll="scrolling"><a href="/#aboutus">About Us</a></li>
                <li data-scroll="scrolling"><a href="/Support">Support</a></li>
            </ul>
        </li>
        <li><a href="/#contacts" title="Contact">Contact</a></li>
        @*<li data-scroll="scrolling" class="visible-phone"><a href="/DockyardAccount" title="SignUp/Login">SignUp/Login</a></li>*@
    </ul>
    if (String.IsNullOrWhiteSpace((String)ViewBag.GuestUserEmail))
    {
        <ul class="nav navbar-nav navbar-right">
            <li style="background-color: crimson;">@Html.ActionLink("Try It Now", "ProcessGuestUserMode", "DockyardAccount")</li>
        </ul>
    }
}