@using HubWeb.ViewModels

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "logoutForm", @class = " " }))
    {
        <!-- MENU -->
        <ul class="nav navbar-nav">
            <!--How It Works-->
            <li><a href="@NavLinks.BaseUrl/#about" title="How It Works">How It Works</a></li>
            <!--Services-->
            <li data-scroll="scrolling" class="dropdown">
                <a href="@NavLinks.BaseUrl/#services" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Services">Services <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="@NavLinks.BaseUrl/Services/DocuSign">DocuSign</a></li>
                    <li><a href="@NavLinks.BaseUrl/Services/Salesforce">Salesforce.com</a></li>
                    <li><a href="@NavLinks.PlanDirectory">Plan Directory</a></li>
                </ul>
            </li>
            <!--Developers-->
            <li data-scroll="scrolling" class="dropdown">
                <a href="@NavLinks.BaseUrl/#aboutus" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Developers">Developers <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li data-scroll="scrolling"><a href="@NavLinks.Documentation">Documentation</a></li>
                    <li data-scroll="scrolling"><a href="@NavLinks.GitHub">GitHub</a></li>
                    <li data-scroll="scrolling"><a href="/manifest_registry">Manifest Registry</a></li>
                </ul>
            </li>
            <!--Company-->
            <li data-scroll="scrolling" class="dropdown">
                <a href="@NavLinks.BaseUrl/#aboutus" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Company">Company <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li data-scroll="scrolling"><a href="@NavLinks.BaseUrl/Company/#vision">Vision</a></li>
                    <li data-scroll="scrolling"><a href="@NavLinks.BaseUrl/Company/#team">Team</a></li>
                    <li data-scroll="scrolling"><a href="@NavLinks.BaseUrl/Company/#press">Press Releases</a></li>
                    <li data-scroll="scrolling"><a href="@NavLinks.BaseUrl/Company/#location">Location</a></li>
                    <li data-scroll="scrolling"><a href="@NavLinks.BaseUrl/Company/#jobs">Jobs</a></li>
                </ul>
            </li>
            <!--Contact-->
            <li><a href="@NavLinks.BaseUrl/Support" title="Contact">Contact</a></li>
            <!--Blog-->
            <li><a href="@NavLinks.Blog" target="_blank">Blog</a></li>
            <!--Login Button on Right-->
            <li><a href="@NavLinks.BaseUrl/dashboard/#myaccount">My Account</a> </li>
            @if (User.IsInRole("Guest"))
            {
                <li class="visible-xs">@Html.ActionLink("Have An Account? Login", "LogOff", "Account", routeValues: null, htmlAttributes: new {id = "logoffLink"})</li>
            }
            else
            {
                <li>@Html.ActionLink("Sign Out", "LogOff", "Account", routeValues: null, htmlAttributes: new {id = "logoffLink"})</li>
            }
        </ul>
    }
} else {
    <!--"@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : "")"-->
    <!-- MENU -->
    <ul class="nav navbar-nav @(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "home-nav" : "")">
        <!--How It Works-->
        <li><a href="@NavLinks.BaseUrl/#about" title="How It Works">How It Works</a></li>
        <!--Services-->
        <li data-scroll="scrolling" class="dropdown">
            <a href="@NavLinks.BaseUrl/#services" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Services">Solutions <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="@NavLinks.BaseUrl/Services/DocuSign">DocuSign</a></li>
                <li><a href="@NavLinks.BaseUrl/Services/Salesforce">Salesforce.com</a></li>
                <li><a href="@NavLinks.PlanDirectory">Plan Directory</a></li>
            </ul>
        </li>
        <!--Developers-->
        <li data-scroll="scrolling" class="dropdown">
            <a href="@NavLinks.BaseUrl/#aboutus" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Developers">Developers <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li data-scroll="scrolling"><a href="@NavLinks.Documentation">Documentation</a></li>
                <li data-scroll="scrolling"><a href="@NavLinks.GitHub">GitHub</a></li>
                <li data-scroll="scrolling"><a href="/manifest_registry">Manifest Registry</a></li>
            </ul>
        </li>
        <!--Company-->
        <li data-scroll="scrolling" class="dropdown">
            <a href="@NavLinks.BaseUrl/#aboutus" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" title="Company">Company <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li data-scroll="scrolling"><a href="@NavLinks.BaseUrl/Company/#vision">Vision</a></li>
                <li data-scroll="scrolling"><a href="@NavLinks.BaseUrl/Company/#team">Team</a></li>
                <li data-scroll="scrolling"><a href="@NavLinks.BaseUrl/Company/#press">Press Releases</a></li>
                <li data-scroll="scrolling"><a href="@NavLinks.BaseUrl/Company/#location">Location</a></li>
                <li data-scroll="scrolling"><a href="@NavLinks.BaseUrl/Company/#jobs">Jobs</a></li>
            </ul>
        </li>
        <!--Contact-->
        <li><a href="@NavLinks.BaseUrl/Support" title="Contact">Contact</a></li>
        <!--Blog-->
        <li><a href="@NavLinks.Blog" target="_blank">Blog</a></li>
    </ul>
    if (String.IsNullOrWhiteSpace((String)ViewBag.GuestUserEmail)) {
        <ul class="nav navbar-nav navbar-right">
            <li style="background-color: crimson;">@Html.ActionLink("Try It Now", "ProcessGuestUserMode", "Account")</li>
        </ul>
    }
}