@using Data.Infrastructure.StructureMap
@using StructureMap
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js">
<!--<![endif]-->
<script>
    var segmentKey = "@(Fr8.Infrastructure.Utilities.Configuration.CloudConfigurationManager.GetSetting("SegmentWriteKey"))";
    if (segmentKey !== "") {
        window.analytics = window.analytics || [], window.analytics.methods = ["identify", "group", "track", "page", "pageview", "alias", "ready", "on", "once", "off", "trackLink", "trackForm", "trackClick", "trackSubmit"], window.analytics.factory = function(t) {
            return function() {
                var a = Array.prototype.slice.call(arguments);
                return a.unshift(t), window.analytics.push(a), window.analytics
            }
        };
        for (var i = 0; i < window.analytics.methods.length; i++) {
            var key = window.analytics.methods[i];
            window.analytics[key] = window.analytics.factory(key)
        }
        window.analytics.load = function(t) {
                if (!document.getElementById("analytics-js")) {
                    var a = document.createElement("script");
                    a.type = "text/javascript", a.id = "analytics-js", a.async = !0, a.src = ("https:" === document.location.protocol ? "https://" : "http://") + "cdn.segment.io/analytics.js/v1/" + t + "/analytics.min.js";
                    var n = document.getElementsByTagName("script")[0];
                    n.parentNode.insertBefore(a, n)
                }
            }, window.analytics.SNIPPET_VERSION = "2.0.9",
            window.analytics.load(segmentKey);
    }
</script>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>fr8</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href='~/Content/img/favicon.ico' />

    <!-- Google Material Design -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700|Open+Sans:300,400,400italic,600,700,800|Francois+One|Didact+Gothic|Droid+Sans|CabinFjalla+One|Cantarell|Ubuntu|Hind|Roboto|Roboto+Condensed:700|Nunito&subset=latin,cyrillic"
          rel="stylesheet" type="text/css">
    <link href="~/Content/css/additionalcss/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/additionalcss/font-awesome/css/style.css" rel="stylesheet" type="text/css" />

    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/cookies")
    @Scripts.Render("~/bundles/js/customjs")
    @Styles.Render("~/bundles/css/colorbox")
    @Styles.Render("~/bundles/css/frontpage-new")

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="~/Content/js/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
        @{
            var userID = ObjectFactory.GetInstance<ISecurityServices>().GetCurrentUser();
            if (String.IsNullOrWhiteSpace(userID))
            {
                userID = "";
            }
            var sessionID = Session.SessionID;
            if (String.IsNullOrWhiteSpace(sessionID))
            {
                sessionID = "";
            }
        }
        var userID = '';
        if ('@userID' !== '') {
            userID = '@userID';
        } else {
            var cookieID = $.cookie('sessionID');
            if (cookieID != null) {
                userID = cookieID;
            } else {
                userID = '@sessionID';
            }
        }
        $.cookie('sessionID', userID);

    </script>

    <script type="text/javascript">
        //The below is vimeo's API. Since we cannot track events in an IFrame, we need to post messages to vimeo to retrieve play events.
        $(function () {
            $(function () {

                // Call the API when a button is pressed
                $('button').on('click', function () {
                    post($(this).text().toLowerCase());
                });

                // Helper function for sending a message to the player
                function post(action, value) {
                    var data = {
                        method: action
                    };

                    if (value) {
                        data.value = value;
                    }

                    var message = JSON.stringify(data);
                }


            });
        });

    </script>
</head>
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="fullpage">
        <div id="wrap">

            <header id="site-header" class="container-fluid">
                @Html.Partial("_HomeNavNew")
            </header>
            @RenderBody()
            <div class="clear clear-footer-spacer"></div>
        </div>
        <!-- FOOTER -->
        <footer id="footer" class="section">
            <div class="container">
                <p class="copyright">@DateTime.Now.Year © The Fr8 Company. All Rights Reserved.</p>
            </div>
        </footer>
        <!-- END FOOTER -->
    </div>
    <a class="goTop goTop-link" title="Go Top"><i class="fa fa-arrow-up"></i></a>

    @Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js/colorbox")
    @Scripts.Render("~/bundles/js/waypoints")
    @Scripts.Render("~/bundles/js/placeholder")
    @Scripts.Render("~/bundles/js/modernizr")
    @Scripts.Render("~/bundles/js/home")
    <script src="https://secure-a.vimeocdn.com/js/froogaloop2.min.js"></script>
    <script src="http://alvarotrigo.com/fullPage/jquery.fullPage.min.js"></script>
    @Scripts.Render("~/bundles/js/main")
</body>
</html>
