<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel='shortcut icon' type='image/x-icon' href='/Content/img/favicon.ico' />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.4/jasmine.css">

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.4/jasmine.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.4/jasmine-html.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jasmine/2.3.4/boot.js"></script>
    @*We should add templates here. to run these tests successfully one should run gulp template to refresh templates
        this operation is done automatically in continous integration*@

    @Scripts.Render("~/bundles/js/jquery")
    @Html.Partial("_AngularAppScripts")
    <script type="text/javascript" src="/Scripts/tests/templates/templateCache.js"></script>

</head>
<body>
    <h2>@ViewBag.Title</h2>
    @RenderBody()

</body>
</html>
