@{
    ViewBag.Title = "";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Successful</legend>
        Click @Html.ActionLink("here", "Login") to login.
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
