@model KwasantWeb.ViewModels.UserProfilesVM
@section immediateScripts
{
    @Scripts.Render("~/bundles/js/kwasantpopup")
    <script src="/Content/js/tree.jquery.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/Content/css/jqtree.css" />
    <style type="text/css">
        
        </style>

    <script type="text/javascript">
        $(function() {
            $('#createProfile').click(function () {
                Kwasant.IFrame.DisplaySpinner();
                $.post('/Profile/CreateNewProfile')
                    .always(function() {
                        location.reload();
                    });
            });
            $('.deleteButton').click(function() {
                var t = $(this);
                var targetProfileID = t.attr('targetProfileID');
                Kwasant.IFrame.DisplaySpinner();
                $.post('/Profile/DeleteProfile?profileID=' + targetProfileID)
                    .always(function () {
                        location.reload();
                    });
            });
            $('.editButton').click(function() {
                var t = $(this);
                var targetProfileID = t.attr('targetProfileID');
                var inputText = $('#NewName_' + targetProfileID).show();
                var okayButton = $('#Okay_' + targetProfileID).show();
                var cancelButton = $('#Cancel_' + targetProfileID).show();

                okayButton.click(function () {
                    Kwasant.IFrame.DisplaySpinner();
                    $.post('/Profile/RenameProfile?profileID=' + targetProfileID + '&newUserName=' + inputText.val())
                        .always(function() {
                            location.reload();
                        });
                });

                cancelButton.click(function() {
                    t.show();
                    inputText.hide();
                    okayButton.hide();
                    cancelButton.hide();

                    okayButton.unbind();
                    cancelButton.unbind();
                });
                t.hide();
                
                setTimeout(function () {
                    inputText.focus();
                }, 100);
            });
            $('.initHidden').hide();
        })
    </script>
}
<div class="page-title-action">
    <h2 style="width:100%">Profiles for '@Model.UserName'</h2>
    <div>
        @foreach (var userProfile in Model.UserProfiles)
        {
            <div style="margin-top:10px;"></div>
            <a style="color: #428bca; font-size:20px; text-decoration:underline;" href="/Profile/Index?profileID=@userProfile.Id">@userProfile.ProfileName</a>
            <a class="editButton" href="javascript:void(0)" targetProfileID="@userProfile.Id">Rename</a>
            <a class="deleteButton" href="javascript:void(0)" targetProfileID="@userProfile.Id">Delete</a>
            <input class="initHidden" type="text" id="NewName_@userProfile.Id" />
            <a class="initHidden" id="Okay_@userProfile.Id" href="javascript:void(0)" targetprofileid="@userProfile.Id">Okay</a>
            <a class="initHidden" id="Cancel_@userProfile.Id" href="javascript:void(0)" targetprofileid="@userProfile.Id">Cancel</a>
            <br/>
        }
    </div>
    <br />

    <a id="createProfile" href="javascript:void(0)">Create new profile</a>
</div>
