@using HubWeb.Infrastructure_HubWeb
@using Microsoft.AspNet.Identity;
@using System.Threading;
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js" data-ng-app="app"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" data-ng-app="app"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" ng-strict-di>
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <title data-ng-bind="'Fr8 | ' + $state.current.data.pageTitle"></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">         
    @* Load fonts async *@
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" media="none" onload="this.media = 'all';"/>
    <link href="@Styles.Url("~/Content/css/font-awesome")" rel="stylesheet" type="text/css" media="none" onload="this.media='all';" />

    @(Html.IsDebug() ? Html.Partial("_AngularAppStyles") : Html.Partial("CDN/_AngularAppStyles"))
    @Styles.Render("~/Content/css/bower-no-cdn")

    <link id="ng_load_plugins_before" />
    <link rel='shortcut icon' type='image/x-icon' href='/Content/img/favicon.ico' />
    <base href="/dashboard/">
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-menu-fixed" class to set the mega menu fixed  -->
<!-- DOC: Apply "page-header-top-fixed" class to set the top menu fixed  -->
<body ng-controller="AppController" class="page-on-load">

    <!-- BEGIN HEADER -->
    <div ui-view="header">
        <div data-ng-include="'/AngularTemplate/Header'" class="page-header">
        </div>
    </div>
    <!-- END HEADER -->

    <div class="main-wrapper">

        <!-- BEGIN PAGE SPINNER -->
        <div ng-spinner-bar class="page-spinner-bar">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <!-- END PAGE SPINNER -->

        <div class="clearfix"> </div>

        <!-- BEGIN CONTAINER -->
        <div class="page-container" long-ajax-cursor>
            <!-- BEGIN PAGE CONTENT -->
            <div class="page-content">
                <div class="container-fluid">

                    <div ui-view="maincontainer" ng-controller="NotifierController">
                        <div ng-include="'/AngularTemplate/MainContainer_AS'"></div>
                    </div>

                </div>
            </div>
            <!-- END PAGE CONTENT -->
        </div>
    </div>

    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div ui-view="footer">
        <div ng-include="'/AngularTemplate/footer'"></div>
    </div>
    <!-- END FOOTER -->
    <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
    <!-- BEGIN CORE JQUERY PLUGINS -->
    <!--[if lt IE 9]>
    <script src="/Content/templates/metronic/assets/global/plugins/respond.min.js"></script>
    <script src="/Content/templates/metronic/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    @(Html.IsDebug() ? Html.Partial("_AngularAppScripts") : Html.Partial("CDN/_AngularAppScripts"))

    <script type="text/javascript">
        /* Init Metronic's core jquery plugins and layout scripts */
        $(document).ready(function () {
            Metronic.init(); // Run metronic theme
            Metronic.setAssetsPath('/Content/templates/metronic/assets/'); // Set the assets folder path
        });


    </script>
    <script>
        window.userId = '@(Thread.CurrentPrincipal.Identity.GetUserId())';
    </script>

<script type="text/javascript">
    var segmentKey = '@Fr8.Infrastructure.Utilities.Configuration.CloudConfigurationManager.GetSetting("SegmentWriteKey")';
    if (segmentKey !== "") {
        window.analytics = window.analytics || [], window.analytics.methods = ["identify", "group", "track", "page", "pageview", "alias", "ready", "on", "once", "off", "trackLink", "trackForm", "trackClick", "trackSubmit"], window.analytics.factory = function(t) {
            return function() {
                var a = Array.prototype.slice.call(arguments);
                return a.unshift(t), window.analytics.push(a), window.analytics
            }
        };
        for (var i = 0; i < window.analytics.methods.length; i++) {
            var key = window.analytics.methods[i];
            window.analytics[key] = window.analytics.factory(key)
        }
        window.analytics.load = function(t) {
                if (!document.getElementById("analytics-js")) {
                    var a = document.createElement("script");
                    a.type = "text/javascript", a.id = "analytics-js", a.async = !0, a.src = ("https:" === document.location.protocol ? "https://" : "http://") + "cdn.segment.io/analytics.js/v1/" + t + "/analytics.min.js";
                    var n = document.getElementsByTagName("script")[0];
                    n.parentNode.insertBefore(a, n)
                }
            }, window.analytics.SNIPPET_VERSION = "2.0.9",
            window.analytics.load(segmentKey);
    }
</script>
    <!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
