@{ Layout = "~/Views/Shared/_Blank.cshtml"; }
@section immediateScripts
{
    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/select2")
    @Scripts.Render("~/bundles/js/moment")
    @Scripts.Render("~/bundles/js/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/js/jqueryvalidate")

    <script src="/Content/js/Kwasant/Popup.js"></script>
}
@section scripts
{
    @Scripts.Render("~/bundles/js/modernizr")
    @Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js/common")
}
@section styles
{
    @Styles.Render("~/bundles/css/bootstrap30")
    @Styles.Render("~/bundles/css/backendcss")
    @Styles.Render("~/bundles/css/select2")
    @Styles.Render("~/bundles/css/bootstrap-datetimepicker")
    
}
<div class="light-bg">
    <h3 class="with-border">Thank You</h3>
    <div>@ViewBag.Message</div>
    <div class="space form-actions negotiation-form-actions" style="display: inline-block; width: 100%;">
        <input id="btnOk" type="button" value="OK" class="btn small-dialog-button shadow-button pull-left" onclick="Kwasant.IFrame.CloseMe(false);" />
    </div>
</div>
<script>
    setTimeout(function () { Kwasant.IFrame.CloseMe(); }, 5000);
    //Binding keyup event on parent document and current document to close model popup using "esc"
    $(parent.document).keyup(function (e) {
        if (e.keyCode == 27) { Kwasant.IFrame.CloseMe(); }
    });
    $(document).keyup(function (e) {
        if (e.keyCode == 27) { Kwasant.IFrame.CloseMe(); }
    });
</script>
