@model KwasantWeb.ViewModels.UserVM
<div>
    <input id="hdnUserId" type="hidden" value="@Model.Id" />
    <br />
    <br />
    Show Calendars :
    <br />
    <div id="divCalendarChooser">
        @foreach (var calendar in Model.Calendars)
        {
            <input type="checkbox" value="@calendar.Id" onclick="refreshCalendar()" checked="checked" />@calendar.Name
        }
    </div>
</div>
<script>
    //Function to refresh calendars
    function refreshCalendar() {
        var visibleCalendarIDs;
        var calendarids = [];
        //getting all linked calendarids to update calendar
        $("#divCalendarChooser").find("input[type='checkbox']").each(function () {
            if (this.checked) {
                calendarids.push($(this).val());
            }
        });

        //checking if none of the calendar is selected
        if (calendarids.length == 0) {
            var activeCalendarBox = $("#divCalendarChooser").find("input[type='checkbox']")[0];
            activeCalendarBox.checked = 'checked';
            calendarids.push($(activeCalendarBox).val());
            alert("Atleast one calendar should be selected!");
        }
        visibleCalendarIDs = calendarids.join(",");

        //Updating the backend urls of calendars
        calendar.updateBackendURLs("@Url.Content("~/Calendar/Day?calendarIDs=")" + visibleCalendarIDs, "@Url.Content("~/Calendar/Month?calendarIDs=")" + visibleCalendarIDs, "@Url.Content("~/Calendar/Navigator?calendarIDs=")" + visibleCalendarIDs);
        calendar.refreshCalendars();
    }
</script>

