@using KwasantWeb.ViewModels
@model UserVM
@{
    ViewBag.Title = "Details";
}
@section styles{
    @Styles.Render("~/bundles/css/daypilot")
}
@section immediateScripts
{
    @Scripts.Render("~/bundles/js/daypilot")
    @Scripts.Render("~/bundles/js/kwasantcalendar")
    @Scripts.Render("~/bundles/js/kwasantpopup")

}
@section scripts
{
    @Scripts.Render("~/bundles/js/modernizr")
    @Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js/common")
}

<h2>Details</h2>
<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/smoothness/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script>
    $(function () {
        $("#tabs").tabs({ active: 1 });
        $('body').css('overflow-y', 'auto');
    });
</script>

<table width="100%">
    <tr>
        <td>
            <div id="notificationGroup">
                <div class="col-md-11" style="text-align: left; padding: 0px;">
                    <div id="notificationMessage" style="color: #d85e17; font-size: 16px; padding-left: 0px; font-size: 16px; font-weight: bold;">
                    </div>
                </div>
                <div class="col-md-5">
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td width="45%" style="vertical-align: top; padding-right: 40px;">

            <div id="tabs">
                <ul>
                    <li><a href="#tduserblock">Calendars</a></li>
                    <li><a href="#divUserDetails">Details</a></li>
                </ul>
                <div id="tduserblock">
                    @Html.Partial("ChooseCalendars", Model)
                </div>
                <div id="divUserDetails">
                    @Html.Partial("ShowUserDetails", Model)
                </div>
            </div>
        </td>
        <td width="55%" style="vertical-align: top;">@Html.Partial("ShowCalendarEvents", new CalendarShowVM { LinkedCalendarIds = Model.Calendars.Select(c => c.Id).ToList() })
        </td>
    </tr>
</table>

