@{ Layout = "~/Views/Shared/_Blank.cshtml"; }
@section immediateScripts
{
    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/select2")
    @Scripts.Render("~/bundles/js/moment")
    @Scripts.Render("~/bundles/js/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/js/jqueryvalidate")

    <script src="/Content/js/Kwasant/Popup.js"></script>
}
@section scripts
{
    @Scripts.Render("~/bundles/js/modernizr")
    @Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js/common")
}
@section styles
{
    @Styles.Render("~/bundles/css/bootstrap30")
    @Styles.Render("~/bundles/css/backendcss")
    @Styles.Render("~/bundles/css/select2")
    @Styles.Render("~/bundles/css/bootstrap-datetimepicker")
    
}
<div class="light-bg">
    <form id="f" class="edit-event-form form">
        <h3 class="with-border">User Already Exists</h3>
        <div>This user already exists. View now?</div>
        <div class="space form-actions">
            <input id="btnOk" type="button" value="Ok" class="btn small-dialog-button shadow-button pull-left" onclick="parent.window.location.href = '/User/Details?userID=@ViewBag.UserId'"/>
            <input id="btnCancel" type="button" value="Cancel" class="btn small-dialog-button shadow-button pull-left" onclick="Kwasant.IFrame.CloseMe(false);" />
        </div>
    </form>
</div>
