@{
    ViewBag.Title = "Find User";
}
@section styles{
    @Styles.Render("~/bundles/css/daypilot")
}
@section immediateScripts
{
    @Scripts.Render("~/bundles/js/daypilot")
    @Scripts.Render("~/bundles/js/kwasantcalendar")
    @Scripts.Render("~/bundles/js/kwasantpopup")

}
@section scripts
{
    @Scripts.Render("~/bundles/js/modernizr")
    @Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js/common")

    <script type="text/javascript">
        $(function () {
            var buildRow = function (row) {
                var head = $('<tr>');
                var firstName = $('<td>').html(row.FirstName);
                var lastName = $('<td>').html(row.LastName);
                var emailAddress = $('<td>').html(row.EmailAddress);

                var link = $('<a>');
                link.attr('href', '/User/Details?userID=' + row.Id);
                link.html('view');
                var viewLink = $('<td>').append(link);

                head.append(firstName);
                head.append(lastName);
                head.append(emailAddress);
                head.append(viewLink);
                return head;
            };

            var timeoutBeforeSearch = 300;
            var previousTimeout = null;
            var doTimeoutSearch = function () {
                if (previousTimeout != null)
                    clearTimeout(previousTimeout);

                previousTimeout = setTimeout(
                    function () {
                        previousTimeout = null;
                        updateSearchResults();
                    }, timeoutBeforeSearch);
            };

            $('#firstName').keyup(doTimeoutSearch);
            $('#lastName').keyup(doTimeoutSearch);
            $('#emailAddress').keyup(doTimeoutSearch);
            $('.stateCheckbox').change(doTimeoutSearch);

            var updateSearchResults = function () {
                var firstName = $('#firstName').val();
                var lastName = $('#lastName').val();
                var emailAddress = $('#emailAddress').val();
                var selectedStates = [];
                $('.stateCheckbox').each(function () {
                    if ($(this).prop("checked"))
                        selectedStates.push(this.id);
                });

                var dataObj = {};
                dataObj.FirstName = firstName;
                dataObj.LastName = lastName;
                dataObj.emailAddress = emailAddress;
                dataObj.states = selectedStates;

                var dataStr = JSON.stringify(dataObj);

                $.ajax({
                    url: '@Url.Action("Search", "User")',
                    type: 'POST',
                    contentType: 'application/json',
                    data: dataStr,
                    success: function (result) {
                        var body = $('#tbody');

                        if (result.length == 0) {
                            $('#resultsTable').hide();
                            $('#lblError').html('No results found.');
                        } else {
                            $('#resultsTable').show();
                            $('#lblError').html('');
                        }
                        body.empty();

                        $.each(result, function (i, o) {
                            var row = buildRow(o);
                            body.append(row);
                        });
                    },
                    error: function () {
                        $('#resultsTable').hide();
                        $('#lblError').html('Error occured while searching');
                    }
                });
            };
        });
    </script>
}
<h2>Find User</h2>
<div style="padding-right: 40px;">
    <fieldset id="searchInfoForm">
        <table>
            <tr>
                <td colspan="2">
                    <label id="lblError" style="color: red;"></label>
                </td>
            </tr>
            <tr>
                <td>First Name
                </td>
                <td>
                    <input type="text" id="firstName" />
                </td>
            </tr>
            <tr>
                <td>Last Name
                </td>
                <td>
                    <input type="text" id="lastName" />
                </td>
            </tr>
            <tr>
                <td>Email Address
                </td>
                <td>
                    <input type="text" id="emailAddress" />
                </td>
            </tr>
            <tr>
                <td>Status
                </td>
                <td>
                    @{
                        using (var uow = StructureMap.ObjectFactory.GetInstance<Data.Interfaces.IUnitOfWork>())
                        {
                            var allStatus = uow.UserStatusRepository.GetAll();
                            foreach (var status in allStatus)
                            {
                        <input id="@status.Id" type="checkbox" class="stateCheckbox" value="@status.Name" checked="checked"/>
                        <label for="@status.Id">@status.Name</label>
                        <br />
                            }
                        }
                    }
                </td>
            </tr>
        </table>
    </fieldset>
    <br />
    <br />
    <table id="resultsTable" class="table table-with-action" style="display: none">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbody"></tbody>
    </table>
</div>
