@model List<KwasantWeb.ViewModels.UserVM>
@{
    ViewBag.Title = "Users";
}
<div class="page-title-action">
	<h2>Users</h2>
	<p>@Html.ActionLink("Create New", "ShowAddUser", null, new { @class = "custom-btn glyphicon glyphicon-plus" }) </p>
</div>
<table class="data-table dataTable">
	<thead>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Email Address</th>
			<th>Roles</th>
			<th width="100">Actions</th>
		</tr>
	</thead>
		@{
			if (Model != null)
			{
			foreach (var item in Model)
 				{
 					<tr>
						<td>@Html.DisplayFor(modelItem => item.FirstName)</td>
						<td>@Html.DisplayFor(modelItem => item.LastName)</td>
						<td>@Html.DisplayFor(modelItem => item.EmailAddress)</td>
 						<td>@Html.Raw(String.Join(", ", item.Role))</td>
                        <td>@Html.ActionLink("Details", "Details", new { userId = item.Id }, new { @class = "custom-btn glyphicon glyphicon-user" })</td>
 					</tr>
                 }
				
			}
		}
</table>
<script type="text/javascript">
	$(document).ready(function () {
		$('.body-content table.data-table tbody tr:odd').addClass('even');
	})
</script>