@model IEnumerable<KwasantWeb.ViewModels.DiagnosticInfoVM>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .actionItem {
        padding-right: 5px;
    }
    .expando {

    }
    .tableDiv {
        height: 411px;
        overflow-y: scroll;
    }
    .serviceBlock {
        border: 1px solid;
        margin: 3px;
        padding: 10px;
        padding-top: 0;
        float: left;
        width: 49.5%;
        min-height: 405px;
    }
    h3 {
        text-transform: none;
    }
    .horizSep {
        height: 10px;
    }
    .clearBoth {
        clear: both;
    }
</style>
@Scripts.Render("~/bundles/js/kwasantpopup")
<script src="~/Scripts/DataTables-1.10.0/media/js/jquery.dataTables.js"></script>
<link href="~/Content/DataTables-1.10.0/media/css/jquery.dataTables.css" rel="stylesheet" />

<div>
    <h2>Diagnostics</h2>
    <label>Server URL: @Utilities.Server.ServerUrl</label>
    <br />
    <label>Host name: @Utilities.Server.ServerHostName</label>
    <br />
    <label>IsProduction: @Utilities.Server.IsProduction</label>
    <br />
    <label>IsDev: @Utilities.Server.IsDevMode</label>
</div>
@foreach (var group in Model.GroupBy(m => m.GroupName))
{
    <h2>@group.Key</h2>
    foreach (var service in group)
    {
        <div class="serviceBlock">
            <h3>@service.ServiceName @Html.Raw(service.RunningTest ? ("<span style='color:darkorange'>Running test...</span>") : (service.Operational ? "<span style='color:green'>OK</span>" : "<span style='color:red'>BROKEN</span>"))</h3>
            <h4>@service.Percent% Success Rate, Last updated: @service.LastUpdated</h4>
            <h4>Last success: @service.LastSuccess</h4>
            <h4>Last fail: @service.LastFail</h4>
            <span>Attempts: @service.Attempts</span>
            <span>Success: @service.Success</span>
            <div></div>
            @if (service.Flags.Any())
            {
                foreach (var flag in service.Flags)
                {
                    <div>@flag.Key: @flag.Value</div>
                }
                <div class="horizSep"></div>
            }

            @if (service.Actions.Any())
            {
                foreach (var action in service.Actions)
                {
                    <a class="actionItem" serveraction="@action.ServerAction" key="@service.Key" href="javascript:void(0);">@action.DisplayName</a>
                }
                <div class="horizSep"></div>
            }

            @if (service.Tests.Any())
            {
                if (service.RunningTest)
                {
                    <h4 style="color: darkred">Test in progress</h4>
                }
                else
                {
                    <h4>Tests</h4>
                    foreach (var test in service.Tests)
                    {
                        <a class="actionItem" serveraction="@test.ServerAction" key="@service.Key" href="javascript:void(0);">@test.DisplayName</a>
                    }
                    <div class="horizSep"></div>
                }
            }
            else
            {
                <h4>No tests available</h4>
            }
            <div class="horizSep"></div>
            <a class="expando" targettable="#tbldiv_@service.Key" key="@service.Key" expanded="false" href="javascript:void(0);">Show details</a>

            <div id="tbldiv_@service.Key" class="tableDiv">
                <table id="tbl_@service.Key" key="@service.Key" class="data-table">
                    <thead>
                        <tr>
                            <th style="width: 50%">Date</th>
                            <th style="width: 50%">Event</th>
                        </tr>
                        @foreach (var ev in service.Events)
                        {
                            <tr>
                                <td>
                                    @ev.Date
                                </td>
                                <td>
                                    @Html.Raw(ev.EventName)
                                </td>
                            </tr>
                        }
                    </thead>
                </table>
            </div>
        </div>
    }
    <div class="clearBoth"></div>
}
<div>
    <br />
</div>
<script type="text/javascript">
    $(function() {
        var showFunc = function(link) {
            $(link.attr('targettable')).show();
            link.attr('expanded', 'true');
            link.html('Hide details');
            $.cookie('Expanded_' + link.attr('key'), true);
        };
        var hideFunc = function(link) {
            $(link.attr('targettable')).hide();
            link.attr('expanded', 'false');
            link.html('Show details');
            $.cookie('Expanded_' + link.attr('key'), false);
        };
        
        $(".expando").each(function (i, object) {
            var link = $(object);
            if ($.cookie('Expanded_' + link.attr('key')) == "true") {
                showFunc(link);
            } else {
                hideFunc(link);
            }
        });

        $('.expando').click(function () {
            var link = $(this);
            if (link.attr('expanded') == 'false') {
                showFunc(link);
            } else {
                hideFunc(link);
            } 
        });
        $('.actionItem').click(function () {
            var link = $(this);
            var expando;
            $('.expando').each(function(i, o) {
                if ($(o).attr('key') == link.attr('key'))
                    expando = o;
            });
            
            showFunc($(expando));
            var spinner = Kwasant.IFrame.DisplaySpinner();

            var url = '/Diagnostics/' + link.attr('serverAction');
            var key = link.attr('key');
            var testName = link.html();
            $.post(url, {
                Key: key,
                TestName: testName
            }, function (result) {
                if (!result) {
                    spinner.hide();
                    alert('Action Failed');
                    return;
                }
                location.reload();
            }).fail(function(message) {
                alert('Error running action: ' + message.statusText);
            });
        });
    });
</script>