@{
Layout = "~/Views/Shared/_Blank.cshtml";
}
@section bodyStyle {overflow-y:scroll;}
@section immediateScripts
{
	@Scripts.Render("~/bundles/js/jquery")
	@Scripts.Render("~/bundles/js/select2")
	@Scripts.Render("~/bundles/js/jqueryvalidate")
	<script src="/Content/js/Kwasant/Popup.js"></script>
	<script src="~/Scripts/DataTables-1.10.0/media/js/jquery.dataTables.js"></script>
	<link href="~/Content/DataTables-1.10.0/media/css/jquery.dataTables.css" rel="stylesheet" />
}
@section scripts
{
	@Scripts.Render("~/bundles/js/moment")
	@Scripts.Render("~/bundles/js/bootstraptransition")
	@Scripts.Render("~/bundles/js/collapse")
	@Scripts.Render("~/bundles/js/bootstrap")
	@Scripts.Render("~/bundles/js/bootstrap-datetimepicker")
	@Scripts.Render("~/bundles/js/modernizr")
	@Scripts.Render("~/bundles/js/common")
}
@section styles
{
	@Styles.Render("~/bundles/css/bootstrap30")
	@Styles.Render("~/bundles/css/backendcss")
	@Styles.Render("~/bundles/css/select2")
	@Styles.Render("~/bundles/css/bootstrap-datetimepicker")
	
	<link href="@Url.Content("~/Content/css/additionalcss/font-awesome/css/font-awesome.css")" rel="stylesheet" type="text/css" />
}

<div class="light-bg history-view-event">
	<h3 class="with-border popup-title">History</h3>
	<a class="popup-close glyphicon glyphicon-remove" onclick="Kwasant.IFrame.CloseMe(false);"></a>
	<table id="tblHistoryReport" class="table data-table">
		<thead>
			<tr>
				<th class="dateWD">Date</th>
                <th class="categoryWD">Category</th>
                <th class="secondarycategoryWD">Secondary Category</th>
				<th class="activityWD">Activity</th>
				<th class="statusWD">Status</th>
				<th class="dataWD">Data</th>
                <th class="bookerWD">BookerId</th>

			</tr>
		</thead>
	</table>
</div>

	<script type="text/javascript">
	    showHistory();
	    function showHistory()
	    {
	        var bookingRequestId=@ViewBag.bookingRequestID;
	        $.post("/Report/ShowHistoryByBookingRequestId", { bookingRequestId: bookingRequestId }, showHistoryReport);
	        function showHistoryReport(response) {
	            $('#tblHistoryReport').DataTable({
	                //destroy: true,
	                //"scrollY": "250px",
	                //"scrollCollapse": true,
	                order: [0],
	                data: JSON.parse(response),
	                columns: [
						{
						    data: function (data) {
						        return convertToDateString(data.create_date);
						    }
						},
                        { data: 'primary_category' },
						{ data: 'secondary_category' },
						{ data: 'activity' },
						{ data: 'status' },
						{ data: 'data' },
					    { data: 'booker_id' }
	                ],
	            });
	        }
	    }

	 

	</script>
