

@*<h2>@ViewBag.Title</h2>
<script src="~/bower_components/DataTables/media/js/jquery.dataTables.min.js"></script>
<link href="~/bower_components/DataTables/media/css/jquery.dataTables.min.css" rel="stylesheet" />
<nav class="navbar navbar-default top-toolbar-section" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        @Html.Partial("TimeSpanNavigator")
    </div>
</nav>

<table id="tblreport" class="data-table">
    <thead>
        <tr>
            <th style="width: 15%">Date</th>
            <th style="width: 15%">Primary Category</th>
            <th style="width: 15%">Secondary Category</th>
            <th style="width: 10%">Activity</th>
            <th style="width: 45%">Data</th>
        </tr>
    </thead>
</table>

<table id="tblincidentreport" class="data-table">
    <thead>
        <tr>
            <th style="width: 10%">Date</th>
            <th style="width: 10%">Primary Category</th>
            <th style="width: 15%">Secondary Category</th>
            <th style="width: 10%">Activity</th>
            <th style="width: 45%">Data</th>
            <th style="width: 10%">ObjectID</th>
        </tr>
    </thead>
</table>

<table id="tblAllLogs" class="data-table">
    <thead>
        <tr>
            <th style="width: 15%">Date</th>
            <th style="width: 15%">Name</th>
            <th style="width: 15%">Level</th>
            <th style="width: 55%">Message</th>
        </tr>
    </thead>
</table>


<script type="text/javascript">
    //Document ready function, will run after page is ready and all elements are loaded.
    $(document).ready(function () {
        $('#tblAllLogs').hide();
        $('#tblreport').hide();
        $('#tblincidentreport').hide();
        updateTables();
    });

    function updateTables() {

        var queryPeriod = "all";
        var table;
        var columns;
        $('a#all').addClass('current');
        //Initializing columns defination for DataTable widget according to report type.
        switch ("@ViewBag.type") {
            case "incident":
                columns = [
                    {
                        data: function (data) {
                            return convertToDateString(data.create_date);
                        }
                    },
                    { data: 'primary_category' },
                    { data: 'secondary_category' },
                    { data: 'activity' },
                    { data: 'data' },
                    { data: 'object_id' }
                ];
                break;
            case "usage":
                columns = [
                    {
                        data: function (data) {
                            return convertToDateString(data.create_date);
                        }
                    },
                    { data: 'primary_category' },
                    { data: 'secondary_category' },
                    { data: 'activity' },
                    { data: 'data' }
                ];
                break;
            case "alllogs":
                columns = [
                    {
                        data: function (data) {
                            return convertToDateString(data.date);
                        }
                    },
                    { data: 'name' },
                    { data: 'level' },
                    { data: 'message' },
                ];
                break;
            
        }

        //loadReport();
        showRequests();



        //Inserts retrieved json records into DataTable Widget
        function showRequests() {
            var tableToWrite// = $('#tblreport');
            var tableToHide;
            if ("@ViewBag.type" == "alllogs") {
                tableToWrite = $('#tblAllLogs');
                tableToHide = $('#tblreport');
                tableToHide = $('#tblincidentreport');

            }
            else if ("@ViewBag.type" == "incident") {
                tableToWrite = $('#tblincidentreport');
                tableToHide = $('#tblreport');
                tableToHide = $('#tblAllLogs');

            }

          
            else {
                tableToWrite = $('#tblreport');
                tableToHide = $('#tblAllLogs');
                tableToHide = $('#tblincidentreport');
               
            }

            tableToHide.hide();
            tableToWrite.show();

            table = tableToWrite.DataTable({
                destroy: true,
                searching: false,
                ordering: false,
                bLengthChange: false,
                processing: true,
                serverSide: true, //Enabling server side processing
                //data: JSON.parse(response),
                order: [0, 'desc'],
                columns: columns,
                ajax:
                     {
                         url: "@Url.Action("ShowReport", "Report")" + "?queryPeriod=" + queryPeriod + "&type="+"@ViewBag.type",
                dataSrc: function (json) {
                    var orgdata = JSON.parse(json.data);
                    return orgdata;
                },
                type: "POST"
            }
            });
             
        }

        
    }

    //Initializing click for all filter buttons.
    $('.top-toolbar-section a').click(function () {
        $('.top-toolbar-section a').each(function () {
            $(this).removeClass('current');
        });
        $(this).addClass('current');
        queryPeriod = $(this).attr("id");
        table.destroy();
        showRequests();
        return false;
    });
    
    function convertToDateString(dateFormat) {
        var datevalue = new Date(dateFormat);
        dateFormat = datevalue.getMonth() + 1 + "/" + datevalue.getDate() + "/" + datevalue.getFullYear() + " " + datevalue.getHours() + ":" + datevalue.getMinutes();
        return dateFormat;
    }

   

    function leftPad(number) {
        return ((number < 10 && number >= 0) ? '0' : '') + number;
    }

    function minutesToStr(minutes) {
        var sign = '';
        if (minutes < 0) {
            sign = '-';
        }

        var hours = leftPad(Math.floor(Math.abs(minutes) / 60));
        var minutes = leftPad(Math.abs(minutes) % 60);

        return sign + hours + 'hrs ' + minutes + 'min';

    }
    
</script>*@
