<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->

<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' type='image/x-icon' href='Content/img/favicon.ico' />
    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/cookies")
    @Scripts.Render("~/bundles/js/customjs")
    @Scripts.Render("~/bundles/js/aboutpage")
    @Styles.Render("~/bundles/css/bootstrap23")
    @Styles.Render("~/bundles/css/bootstrap-responsive")
    @Styles.Render("~/bundles/css/colorbox")
    @Styles.Render("~/bundles/css/frontpage")
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300,600,400italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href="/Content/css/additionalcss/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="Content/js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand goTop" href="/">
                    <img class="floating" src="@Url.Content("~/")Content/img/site/PLACEHOLDER.png" alt="Kwasant" title="Kwasant"></a>
                <br />
                <div class="nav-collapse">

                    @using Microsoft.AspNet.Identity
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {

                            <ul class="pull-right welcomemsg">
                                <li data-section="2">@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "DockyardAccount", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                            </ul>

                            <ul class="nav pull-right">
                                <li data-section="2"><a href="/" class="how_to_works" title="How it Works">How it Works</a></li>
                                <li class="about-us-lnk active"><a href="/Home/About" title="About Us">About Us</a></li>
                                <li data-section="3"><a href="/" title="FAQ">FAQ</a></li>
                                <li data-section="4" class="contact-lnk"><a href="#contacts" title="Contact">Contact</a></li>
                                <li>@Html.ActionLink("My Account", "MyAccount", "User") </li>
                                @if (!User.IsInRole("Guest"))
                                {
                                    <li>@Html.ActionLink("Sign Out", "LogOff", "DockyardAccount", routeValues: null, htmlAttributes: new { id = "logoffLink" })</li>

                                }
                            </ul>
                        }
                    }
                    else
                    {
                        <ul class="nav pull-right">
                            <li data-section="2"><a href="/" class="how_to_works" title="How it Works">How it Works</a></li>
                            <li class="about-us-lnk active"><a href="/Home/About" title="About Us">About Us</a></li>
                            <li data-section="3"><a href="/" title="FAQ">FAQ</a></li>
                            <li><a href="/Account/Index" title="SignUp/Login">SignUp/Login</a></li>
                            <li data-section="4" class="contact-lnk"><a href="#contacts" title="Contact">Contact</a></li>
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>

    <div id="welcome" class="parallax top-banner about-page" data-section="4">
        <div class="inner-bg">
            <div class="landing-welcome-area">
                <div class="landing-welcome-inner">
                    <div class="container">
                        <div class="black-border-block about-title">
                            <p>fr8 is a San Francisco startup company</br>focused on providing open-standard web workflow.</p>
                        </div>

                        <div class="about-area">
                            <div class="black-border-block about-descrp">
                                <p class="descrp-title"><strong>Alex Edelstein</strong></br><span class="subtitle">CEO and Co-founder</span></p>
                                <p>
                                    Alex Edelstein worked on the biggest email application in the world, the biggest browser in the world, and the biggest search engine in the world.Now he wants to build something big.
                                </p>
                            </div>
                            <div class="black-border-block about-photo"><img src="@Url.Content("~/")Content/img/site/alex-photo.png" title="" alt=""></div>
                        </div>
                        <div class="clearfix">&nbsp;</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="contacts" class="text-block" data-section="4">
        <div class="dark-bg">
            <div class="container">
                <h2><i class="fa fa-map-marker"></i>Get in touch</h2>
                <p>Drop us a line.</p>
                <div class="row-fluid section">
                    <div class="span8 cform">
                        <h3 class="with-border">Want to ask something?</h3>
                        <form class="form clearfix" action="#">
                            <input type="text" class="span12" placeholder="Name" name="name" id="name">
                            <input type="email" class="span12" placeholder="Email" name="emailAddress" id="emailId">
                            <textarea class="span12" placeholder="Message" name="message" rows="6" id="message"></textarea>
                            <button class="btn btn-large pull-right" type="button" onclick="SendMail();">Submit</button>
                            <span id="spMessage" class="contact-hint"></span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ru/?ie=UTF8&amp;ll=37.775735,-122.422543&amp;spn=0.070962,0.153122&amp;t=m&amp;z=13&amp;output=embed"></iframe> -->
    <footer>
        <div class="light-bg">
            <div class="container">
                <div class="row-fluid">
                    <div class="span6">
                        <h4>Get in touch</h4>
                        <div class="info-block">
                            <article class="clearfix">
                                <i class="fa fa-globe"></i>
                                <address>2200 Sacramento St. #1603 , San Francisco, CA 94115</address>
                            </article>
                            <article class="clearfix">
                                <i class="fa fa-envelope"></i>
                                <p><a href="mailto:info@kwasant.com">info@fr8.company</a></p>
                            </article>
                        </div>
                    </div>
                    <div class="span6">

                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-block dark-bg clearfix">
            <div class="container">
                <div>
                    <p class="text-center">@DateTime.Now.Year © The Fr8 Company. All Rights Reserved.</p>
                    <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
                </div>
            </div>
        </div>
    </footer>

    <a class="goTop goTop-link" title="Go Top"><i class="fa fa-arrow-up"></i></a>

    @Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js/colorbox")
    @Scripts.Render("~/bundles/js/waypoints")
    @Scripts.Render("~/bundles/js/placeholder")
    @Scripts.Render("~/bundles/js/modernizr")
    <script src="https://secure-a.vimeocdn.com/js/froogaloop2.min.js"></script>

    <script type="text/javascript">
        // this function is used to get values and sent pass these values to “ProcessSubmittedEmail” action method on "HomeController" using ajax
        //and display contant result to user using alert
        function SendMail() {
            $.ajax({
                url: "/Home/ProcessSubmittedEmail",
                type: "POST",
                async: true,
                data: { 'name': $('#name').val(), 'emailId': $('#emailId').val(), 'message': $('#message').val() },
                success: function (result) {
                    if (result == "success") {
                        $('#name').val(""); $('#emailId').val(""); $('#message').val("");
                        $('#spMessage').html("Email Submitted");
                    }
                    else {
                        $('#spMessage').html(result);
                    }
                }
            });
        }
    </script>

    <script type="text/javascript">
        function SendMailMeetingRequest() {
            $.ajax({
                url: "/Home/ProcessHomePageBookingRequest",
                type: "POST",
                async: true,
                data: { 'emailAddress': $('#emailIdReqBooking').val(), 'meetingInfo': $('#meetingInfo').val() },
                success: function (result) {

                    $('#spBookingRequestMsg').html(result.Message);
                    if (result.UserID) {
                        analytics.alias(result.UserID);
                    }
                }
            });
        }
        location.hash
    </script>

</body>
</html>

