@using Org.BouncyCastle.Asn1.Ocsp
@model HubWeb.ViewModels.HomeVM

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en" class="no-js"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en" class="no-js"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en" class="no-js"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Fr8 Company: Open iPaaS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Material Design -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>

    <!-- Styles -->
    @Styles.Render("~/bundles/css/home")

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700|Open+Sans:300,400,400italic,600,700,800|Francois+One|Didact+Gothic|Droid+Sans|CabinFjalla+One|Cantarell|Ubuntu|Hind|Roboto|Roboto+Condensed:700|Nunito&subset=latin,cyrillic"
          rel="stylesheet" type="text/css">

    <!-- IE 9 Fallback-->
    <!--[if IE 9]>
        @Styles.Render("~/bundles/css/homeie")
    <![endif]-->
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements and IE Fallback-->
    <!--[if lt IE 9]>
        @Scripts.Render("~/bundles/js/html5shiv")
    <![endif]-->
    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel='shortcut icon' type='image/x-icon' href='/Content/img/favicon.ico' />
</head>

<body id="top">

    @Html.Partial("_HomeNavNew")

    <!-- HERO UNIT -->
    <div id="hero-unit" class="hero-unit hero-light hero-video" data-vide-bg="mp4: https://fr8.azureedge.net/Content/videos/motion_1920.mp4, webm: https://fr8.azureedge.net/Content/videos/motion.webm, ogv: https://fr8.azureedge.net/Content/videos/motion.ogv, poster: https://fr8.azureedge.net/Content/videos/motion_1920.jpg" data-vide-options="loop: true, posterType: jpg">
        <div class="hero-content text-center">
            <div id="slidecaption" class="slide-caption">
                <div class="hero-text">
                    <h2 class="hero-heading">The Open Cloud Integration Service</h2>
                    <p>Distributed. Extensible. Powerful. Open-Source.</p>
                </div>
            </div>
            <div class="hero-buttons">
                <a href="#about" id="btn-about" class="btn btn-danger btn-lg"><i class="fa fa-arrow-circle-o-down"></i> READ MORE</a>
                @if (Request.IsAuthenticated)
                {
                    <a href="/Welcome" id="btn-contact" class="btn btn-primary btn-lg"><i class="fa fa-arrow-circle-o-right"></i> TRY IT NOW</a>
                }
                else {
                    <a href="/Account/ProcessGuestUserMode" id="btn-contact" class="btn btn-primary btn-lg"><i class="fa fa-arrow-circle-o-right"></i> TRY IT NOW</a>
                }
            </div>

            <!-- Slides -->
            <div id="myCarousel" class="carousel slide hero-slides base-block-white" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <div class="carousel-content">
                            <h3>“Our team uses Fr8 to generate mail merges using Salesforce and DocuSign.<br />It only takes a few seconds to automatically insert data into our complex DocuSign templates.<br /> Fr8 delivers huge time savings.”</h3>
                            <p><b>Akkadian – <i>Peter Smith, Chief Operating Officer</i></b></p>
                        </div>
                    </div>
                </div>
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                </ol>
            </div>
        </div>

        <div class="hero-bg-pattern">
            <div class="full-area"></div>
        </div>
        <span id="#inner" class="fa fa-arrow-down"></span>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main-content" class="main-content">
        <!-- ABOUT -->
        <div id="about" class="section about">
            <div class="container">
                <div class="section-heading">
                    <h2>HOW IT WORKS</h2>
                    <p>Automate Your Work with Cloud Workflows and Apps </p>
                    <hr />
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="section-content">
                            <p>Fr8 ties your existing cloud applications together, letting you move information easily and enabling you to create powerful web applications, processes and workflows with a few clicks of your mouse.</p>
                            <p><a href="http://documentation.fr8.co/how-it-works/">Learn More</a></p>
                        </div>
                    </div>
                </div>
                <!-- DEMO CARDS -->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="demo-card-square demo-card-square-connect mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title mdl-card--expand">
                                <h2 class="mdl-card__title-text">DESIGN</h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                The Fr8 design environment allows drag and drop connections between your cloud services.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="demo-card-square demo-card-square-workflows mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title mdl-card--expand">
                                <h2 class="mdl-card__title-text">RUN</h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                Use cloud data sources like Google Docs and Salesforce to drive cloud applications such as DocuSign.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="demo-card-square demo-card-square-run mdl-card mdl-shadow--2dp">
                            <div class="mdl-card__title mdl-card--expand">
                                <h2 class="mdl-card__title-text">AUTOMATE</h2>
                            </div>
                            <div class="mdl-card__supporting-text">
                                Build workflows that monitor and respond to alerts and changes in your personal or corporate cloud ecosystem.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FULL-WIDTH PARALLAX -->
        <div id="social-network" class="section full-width-parallax parallax">
            <div class="container">
                <h2 class="section-heading">Automate Your Work. Connect Your Cloud Services.</h2>
                @if (Request.IsAuthenticated)
                {
                    <a href="/Welcome" id="btn-contact" class="btn btn-primary btn-lg"><i class="fa fa-arrow-circle-o-right"></i> TRY IT FREE</a>
                }
                else {
                    <a href="/Account/ProcessGuestUserMode" id="btn-contact" class="btn btn-primary btn-lg"><i class="fa fa-arrow-circle-o-right"></i> TRY IT FREE</a>
                }
                <p style="color: #F2F4F5; padding-top: 10px;">`</p>
            </div>
        </div>

        <!-- VIDEO SECTION -->
        <div id="video" class="section darker videos" style="padding-bottom: 0">
            <div class="container">
                <div class="section-heading">
                    <h2>Watch an Introduction to FR8</h2>
                    <a href="http://documentation.fr8.co/developers/fr8-videos/" target="_blank"><h4 style="color: darkblue;">Go to the Video Gallery</h4></a>
                </div>
                <div class="section-content" style="padding-bottom: 0">
                    <div class="row">
                        <div class="col-sm-10 col-lg-8 col-xs-8 col-sm-offset-1 col-xs-offset-2 col-lg-offset-2">
                            <div class="video-container" >
                                <iframe src="https://player.vimeo.com/video/178394308" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>

        <!-- SERVICES -->
        <div id="services" class="section darker services">
            <div class="container">
                <div class="section-heading">
                    <h2>Fr8 SOLUTION CENTERS</h2>
                    <p>Use Fr8's pre-built solutions to automate the most common tasks.</p>
                    <hr />
                </div>
                <div class="section-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="service-item">
                                <span class="docusign"></span>
                                <div class="service-text">
                                    <h3>Docusign</h3>
                                    <p>Accelerate your DocuSign work with Mail Merge, Data Extraction, Conditional Approval Flows, and more.</p>
                                    <a href="/Services/DocuSign" class="read-more"><span>Read more ...</span> <i class="i fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <span class="salesforce"></span>
                                <div class="service-text">
                                    <h3>Salesforce</h3>
                                    <p>Automatically update your Salesforce objects and chatter feeds from Slack. Mail Merge using DocuSign or Email.</p>
                                    <a href="/Services/Salesforce" class="read-more"><span>Read more ...</span> <i class="i fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="service-item">
                                <span class="google"></span>
                                <div class="service-text">
                                    <h3>Google Apps</h3>
                                    <p> Use Google Sheets to drive Mail Merges and automate your business processes.Coming Soon!</p>
                                     <!-- <a href="#" class="read-more"><span>Read more ...</span> <i class="i fa fa-arrow-circle-right"></i></a>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="service-item">
                                <span class="fr8-service"></span>
                                <div class="service-text">
                                    <h3>Custom</h3>
                                    <p>Build your own plans, both simple and complex, choosing from a growing assortment of activities</p>
                                     <!-- <a href="#" class="read-more"><span>Read more ...</span> <i class="i fa fa-arrow-circle-right"></i></a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- CONTACT -->
        <div id="contact" class="section contact">
            <div class="section-heading">
                <a href="/Support" id="btn-contact" class="btn btn-primary btn-lg"><i class="fa fa-envelope-o"></i> Contact Us</a>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer id="footer" class="section">
        <div class="container">
            <div class="row copyright">
                <a href="https://twitter.com/TheFr8Company"><i class="fa fa-twitter fa-4x" aria-hidden="true"></i></a>
            </div>
            <p class="copyright">@DateTime.Now.Year © The Fr8 Company. All Rights Reserved.</p>
        </div>
    </footer>

    <div class="back-to-top">
        <a href="#top"><i class="fa fa-angle-up"></i></a>
    </div>

    @Scripts.Render("~/bundles/js/home")
</body>
</html>
<script>
    var segmentKey = "@(Fr8.Infrastructure.Utilities.Configuration.CloudConfigurationManager.GetSetting("SegmentWriteKey"))";
    if (segmentKey !== "") {
        window.analytics = window.analytics || [], window.analytics.methods = ["identify", "group", "track", "page", "pageview", "alias", "ready", "on", "once", "off", "trackLink", "trackForm", "trackClick", "trackSubmit"], window.analytics.factory = function (t) {
            return function () {
                var a = Array.prototype.slice.call(arguments);
                return a.unshift(t), window.analytics.push(a), window.analytics
            }
        };
        for (var i = 0; i < window.analytics.methods.length; i++) {
            var key = window.analytics.methods[i];
            window.analytics[key] = window.analytics.factory(key);
        }
        window.analytics.load = function (t) {
            if (!document.getElementById("analytics-js")) {
                var a = document.createElement("script");
                a.type = "text/javascript", a.id = "analytics-js", a.async = !0, a.src = ("https:" === document.location.protocol ? "https://" : "http://") + "cdn.segment.io/analytics.js/v1/" + t + "/analytics.min.js";
                var n = document.getElementsByTagName("script")[0];
                n.parentNode.insertBefore(a, n);
            }
        }, window.analytics.SNIPPET_VERSION = "2.0.9",
            window.analytics.load(segmentKey);
        window.analytics.page('Visited Page - Home');
        var btnTryItNow = document.getElementById("btn-contact");
        window.analytics.trackLink(btnTryItNow, "Clicked Try It Now Button");
    }
</script>