<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb hide">
    <li>
        <a href="#">Home</a><i class="fa fa-circle"></i>
    </li>
    <li class="active">
        Dashboard
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="ProcessBuilderController" class="margin-top-10">
    <div class="process-builder-container">
        <div class="action" ng-repeat-start="action in actions" ng-class="{ selected: action.id === current.action.id }" ng-click="selectAction(action)">
            <p class="action-name">{{action.name}}</p>
            <pane-configure-action ng-if="action.id === current.action.id" id="paneConfigureAction" current-action="action"></pane-configure-action>
        </div>
        <div class="action-arrow" ng-repeat-end>

        </div>
        <div class="action action-to-add" ng-click="addAction()">
            <p class="action-name">Click to add action</p>
        </div>
    </div>
    <!-- END MAIN CONTENT -->
    
    <!-- BEGIN SCRIPT REQUIREMENTS -->
    <script type="text/javascript" src="@Url.Content("~/bower_components/fabric/dist/fabric.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ProcessBuilder/core.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ProcessBuilder/pb-consts.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ProcessBuilder/pb-interfaces.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ProcessBuilder/pb-fabricjs-img.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ProcessBuilder/pb-resources.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ProcessBuilder/pb-widget.js")"></script>
    <!-- END SCRIPT REQUIREMENTS -->
</div>