<!-- BEGIN PAGE BREADCRUMB -->
<ul class="page-breadcrumb breadcrumb hide">
    <li>
        <a href="#">Home</a><i class="fa fa-circle"></i>
    </li>
    <li class="active">
        Dashboard
    </li>
</ul>
<!-- END PAGE BREADCRUMB -->
<!-- BEGIN MAIN CONTENT -->
<div ng-controller="ProcessBuilderController" class="margin-top-10">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <!-- BEGIN PORTLET-->
            <div class="portlet light ">
                <h4 class="no-margin caption-subject font-green-haze bold uppercase">Define Process</h4>
                <div class="portlet-body">
                    <!-- PROCESS FORM -->
                    <div class="tab-pane active" id="tab_1_1">
                        <pane-workflow-designer width="700" height="600"></pane-workflow-designer>
                    </div>
                    <!-- END PROCESS FORM -->
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
        <div class="col-md-6 col-sm-6">
            <div class="col-sm-12">
                <pane-define-criteria current-action="current.action"></pane-define-criteria>
            </div>
            <div class="col-sm-12">
                <pane-select-template></pane-select-template>
            </div>
            <div class="col-sm-12">
                <pane-select-action id="paneSelectAction" current-action="current.action"></pane-select-action>
            </div>
            <div class="col-sm-12">
                <pane-configure-action id="paneConfigureAction" current-action="current.action"></pane-configure-action>
            </div>
            <div class="col-sm-12">
                <pane-configure-mapping id="paneConfigureMapping" current-action="current.action" mode="field"></pane-configure-mapping>
            </div>
            <div class="col-sm-12" ng-show="current.action.id">
                <div class="form-group">
                    <button class="btn btn-primary btn-large btn-long" ng-click="save()">Save Action</button>
                    <button class="btn btn-danger btn-large" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>

        @*Demo Only*@
        <div class="col-md-12 col-sm-12"><pre><h2>FILE PICKER DEMO</h2></pre></div>
        <div class="col-md-12 col-sm-12">
            <file-picker field='field'></file-picker>
        </div>
        <div class="col-md-12 col-sm-12"><pre><h2>RADIO BUTTON GROUP DEMO</h2></pre></div>
        <div class="col-md-12 col-sm-12">
            <radio-button-group field='radioDemoField'></radio-button-group>
        </div>
        <div class="col-md-12 col-sm-12"><pre><h2>DROP DOWN LIST BOX DEMO</h2></pre></div>
        <div class="col-md-12 col-sm-12">
            <drop-down-list-box field='dropdownDemoField'></drop-down-list-box>
        </div>
        
        <div class="col-md-12 col-sm-12"><pre><h2>TEXTBLOCK DEMO</h2></pre></div>
        <div class="col-md-12 col-sm-12">
            <text-block field='textBlockDemoField'></text-block>
        </div>
        @*END OF DEMO CODE*@
    </div>
    <!-- END MAIN CONTENT -->
    <!-- BEGIN SCRIPT REQUIREMENTS -->
    <script type="text/javascript" src="@Url.Content("~/bower_components/fabric/dist/fabric.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ProcessBuilder/core.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ProcessBuilder/pb-consts.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ProcessBuilder/pb-interfaces.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ProcessBuilder/pb-fabricjs-img.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ProcessBuilder/pb-resources.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ProcessBuilder/pb-widget.js")"></script>
    <!-- END SCRIPT REQUIREMENTS -->
</div>