@Styles.Render("~/bundles/css/colorbox")
@Styles.Render("~/bundles/css/frontpage")

@Scripts.Render("~/bundles/js/jquery")
@Scripts.Render("~/bundles/js/customjs")
@Scripts.Render("~/bundles/js/cookies")


<header class="container-fluid">
    <div class="navbar navbar-default ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1 class="site-logo"><a class="navbar-brand" href="/" title="fr8"><img src="~/Content/img/site/site-logo.png" alt="fr8" title="fr8"></a></h1>
            </div>
        </div>
        <div class="main-nav">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <nav>
                        @Html.Partial("_HomeNav")
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<script type="text/javascript">
    /* Menu Dropdown*/
    $("li.dropdown").hover(function () {
        $(this).find("a.dropdown-toggle").attr('aria-expanded', "true");
        $(this).addClass("open");
    }, function () {
        $(this).find("a.dropdown-toggle").attr('aria-expanded', "false");
        $(this).removeClass("open");
    });
</script>