@using Data.States
@using Newtonsoft.Json
@model KwasantWeb.ViewModels.EventVM
@{ Layout = "~/Views/Shared/_Blank.cshtml"; }
@section immediateScripts
{
    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/select2")
    @Scripts.Render("~/bundles/js/moment")
    @Scripts.Render("~/bundles/js/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/js/jqueryvalidate")
    @Scripts.Render("~/bundles/js/daypilot")

<script src="/Content/js/Kwasant/Popup.js"></script>

}
@section scripts
{
    @Scripts.Render("~/bundles/js/modernizr")
    @Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js/common")
}
@section styles
{
    @Styles.Render("~/bundles/css/bootstrap30")
    @Styles.Render("~/bundles/css/backendcss")
    @Styles.Render("~/bundles/css/select2")
    @Styles.Render("~/bundles/css/bootstrap-datetimepicker")
	
}
<div class="light-bg">
	<form id="f" class="edit-event-form form" method="post" style="margin:10px">
		<h3 class="with-border">Confirm Changes</h3>
		<div>You are <b>@Html.Raw(Model.Id == 0 ? "creating a new" : "editing an existing")</b> event.</div>
		<div style="@Html.Raw(Model.IsAllDay ? String.Empty : "display:none;")">
			<div>* All day event * - @Model.StartDate.ToString()</div>
		</div>
		<div style="@Html.Raw(Model.IsAllDay ? "display:none;" : String.Empty)">
			<div>Start Date: @Model.StartDate</div>
			<div>End Date: @Model.EndDate</div>
		</div>
		<div>Location: @Model.Location</div>
		<div>Summary: @Model.Summary</div>
		<div>Description: @Model.Description</div>
		<div>Attendees: @String.Join(", ", Model.Attendees)</div>
		<div class="space form-actions">
            <input id="btnSave" type="submit" value="CONFIRM" class="btn small-dialog-button shadow-button pull-left" />
            <a href="javascript:close()" class="cancel-btn btn small-dialog-button shadow-button pull-left">REJECT</a>
		</div>
	</form>
</div>
	<script type="text/javascript">
		function close(saved) {
			if (saved === undefined || saved == null)
				saved = false;
			Kwasant.IFrame.CloseMe({ saved: saved });
		}

		$(function () {
			$("#f").submit(function () {
			    var url = '@Html.Raw(Url.Action("ProcessChangedEvent", "Event", Model))';
			    Kwasant.IFrame.Display(url,
                {
                    horizontalAlign: 'middle',
                    height: 815,
                    width: 815,
                    modal: true,
                    callback: function (res) {
                        var eventMessage = 'Your event was successfully updated';
                        if (res) {
                            eventMessage += ' and emails have been dispatched';
                        }
                        Kwasant.IFrame.CloseMe({
                            saved: true,
                            message: eventMessage
                        });
                    }
                });
			    return false;
			});
		});
	</script>
