@model KwasantWeb.ViewModels.EventVM
@{ Layout = "~/Views/Shared/_Blank.cshtml"; }
@section immediateScripts
{
    @Scripts.Render("~/bundles/js/jquery")
    @Scripts.Render("~/bundles/js/select2")    
    @Scripts.Render("~/bundles/js/jqueryvalidate")
    @Scripts.Render("~/bundles/js/common")
    <script src="/Content/js/Kwasant/Popup.js"></script>

    <script type="text/javascript">
        var hideShowDates = function () {
            var fromDate = $('#StartDate');
            var toDate = $('#EndDate');

            if ($('#chkAllDay').prop('checked')) {
                fromDate.data("DateTimePicker").disable();
                toDate.data("DateTimePicker").disable();
            } else {
                fromDate.data("DateTimePicker").enable();
                toDate.data("DateTimePicker").enable();
            }
        };
        var data;
        var returnval;
        $(document).ready(function () {
            $('#chkAllDay').click(hideShowDates);

            data = [@Html.Raw(String.Join(",", Model.Attendees.Replace("'","\\'").Split(',').Select(a =>
                            "{id: '" + a + "', text: '" + a + "'}"
                            )))];
            getValidEmailAddress($('#attendeesSel'));

            $('#attendeesSel').select2('data', data);

            $('textarea').each(function () {
                autoResizeTextArea(this);
            }).on('input', function () {
                autoResizeTextArea(this);
            });
        });
    </script>
}
@section scripts
{
	@Scripts.Render("~/bundles/js/moment")
	@Scripts.Render("~/bundles/js/bootstraptransition")
	@Scripts.Render("~/bundles/js/collapse")	
	@Scripts.Render("~/bundles/js/bootstrap")
    @Scripts.Render("~/bundles/js/bootstrap31")
	@Scripts.Render("~/bundles/js/bootstrap-datetimepicker")
    @Scripts.Render("~/bundles/js/modernizr")	
    
}
@section styles
{
    @Styles.Render("~/bundles/css/bootstrap30")
    @Styles.Render("~/bundles/css/backendcss")
    @Styles.Render("~/bundles/css/select2")
    @Styles.Render("~/bundles/css/bootstrap-datetimepicker")
	
	<link href="@Url.Content("~/Content/css/additionalcss/font-awesome/css/font-awesome.css")" rel="stylesheet" type="text/css" />
}
<div class="light-bg">
	<form id="f" class="edit-event-form form" method="post" action="@Url.Action("ConfirmChanges", "Event")">
		<h3 class="with-border">@Html.Raw(Model.Id == 0 ? "New Event" : "Editing Event (Created by " + Model.CreatedByAddress + ").")</h3>
		<div class="formItem">
			<div class="formLabel">Summary</div>
			<input id="summary" name="Summary" class="form-control col-md-1" value="@Model.Summary" required type='text' />
		</div>
		<div class="formItem">
			<div class="formLabel">When</div>
			<label>@Html.CheckBoxFor(m => m.IsAllDay, new { id = "chkAllDay", name = "IsAllDay" }) All day event</label>
		</div>
		<div id="dateGroup">
			<div class="formItem">
				<div class='input-group date' id='StartDate' data-date-format="MM/DD/YYYY hh:mm a [GMT]ZZ">
                    <input type='text' name="StartDate" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar glyphicon-nonescaped"></span>
                    </span>
                </div>
			</div>
			<div class="formLabel">to</div>
			<div class="formItem">
				<div class='input-group date' id='EndDate' data-date-format="MM/DD/YYYY hh:mm a [GMT]ZZ">
					<input type='text' name="EndDate" class="form-control" />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar glyphicon-nonescaped"></span>
					</span>
				</div>
			</div>
		</div>
		<div class="formItem">
			<div class="formLabel">Location</div>
			<input id="location" name="Location" class="form-control col-md-1" value="@Model.Location" required type='text' />
		</div>
		<div class="formItem">
			<div class="formLabel">Description</div>
			<textarea id="description" name="Description" cols="31" rows="3" class="form-control col-md-1" required>@Html.Raw(Model.Description)</textarea>
		</div>
		<div class="formItem">
			<div class="formLabel">Attendees</div>
			<input type="hidden" name="Attendees" id="attendeesSel" />
		</div>
		@{
			<div class="hidden">
				@Html.TextBox("Id", @Model.Id, new { @class = "form-control col-md-1" })
				@Html.TextBox("BookingRequestID", @Model.BookingRequestID, new { @class = "form-control col-md-1" })
			</div>
		}
		<div class="space form-actions">
            <input id="btnSave" type="submit" value="OK" class="btn small-dialog-button shadow-button pull-left" />
		    <input id="btnDraft" type="submit" value="Draft" class="btn small-dialog-button shadow-button pull-left" />
        @if (Model.IsNew)
        {
            <a href="javascript:closeEvent();" class="cancel-btn btn small-dialog-button shadow-button pull-left">Cancel</a>
        }
        else
        {
            <a href="javascript:deleteEvent();" style="margin-left: 15px;" class="delete-btn btn small-dialog-button shadow-button pull-left">Delete</a>
        }
		</div>
	</form>
</div>

	<script type="text/javascript">
	    var modifiedState = { modified: false };
	    var fromdata;
	    var todata;

	    function closeEvent() {
	        if (!modifiedState.modified || confirm("You are about to lose data. Continue?")) {
	            @if (Model.IsNew)
	            {
	                @:var spinner = Kwasant.IFrame.DisplaySpinner();
                    @:$.post('@Url.Action("ConfirmDelete", "Event", new { eventID = Model.Id })', function (response) {
                        @:Kwasant.IFrame.CloseMe({ saved: true, message: 'Cancelled' });
                        @:spinner.hide();
                    @:}, 'json');
	            }
	        }
	        return false;
	    }

	    function deleteEvent() {
	        Kwasant.IFrame.Display('@Url.Action("DeleteEvent", "Event", new { eventID = Model.Id })',
	        {
	            modal: true,
	            callback: function(result) {
	                Kwasant.IFrame.CloseMe({ saved: true, message: 'Event deleted.' });
	            }
	        });
	        return false;
	    }

	    $(document).ready(function () {
	        $(".form-control").change(function () {
	            modifiedState.modified = true;
	        });
	    });

	    function updateDraftSummary(formElmt){
	        var summaryElmt = $("#summary");
	        if($(formElmt).data('clicked') == "Draft"){
	            if(summaryElmt.val().indexOf("DRAFT:") == -1){
	                summaryElmt.val("DRAFT:" + summaryElmt.val());
	            }
	        }
	        else {
	            if(summaryElmt.val().indexOf("DRAFT:") != -1){
	                summaryElmt.val(summaryElmt.val().replace("DRAFT:",""));
	            }
	        }
	    }

	    $('#f').on('click', 'input[type=submit]', function(e) {
	        $(this.form).data('clicked', this.value);
	    });

	    $("#f").submit(function () {
	        var url = '/Negotiation/CheckBooker';
	        $.ajax({
	            url: url,
	            type: 'POST',
	            data: { bookingRequestID: '@Model.BookingRequestID' },
	            async: false,
	            success: function (result) {
	                if (result.Name == "valid") {

	                    updateDraftSummary(this);

	                    if (!modifiedState.modified) {
	                        //close();
	                        return false;
	                    }

	                    var fromDate = $('#StartDate');
	                    var toDate = $('#EndDate');

	                    if (!($('#chkAllDay').is(':checked'))) {
	                        if (fromDate.data("DateTimePicker").getDate() > toDate.data("DateTimePicker").getDate()) {
	                            alert("Start date can't be greater than End Date");
	                            return false;
	                        }
	                    }

	                    var f = $("#f");
	                    if (!f.valid())
	                        return false;

	                    fromDate.data("DateTimePicker").enable();
	                    toDate.data("DateTimePicker").enable();

	                    var url = f.prop('action') + '/?' + f.serialize();

	                    Kwasant.IFrame.Display(url,
                            {
                                modal: true,
                                callback: function (result) {
                                    if ($('#chkAllDay').attr('checked')) {
                                        fromDate.data("DateTimePicker").disable();
                                        toDate.data("DateTimePicker").disable();
                                    } else {
                                        fromDate.data("DateTimePicker").enable();
                                        toDate.data("DateTimePicker").enable();
                                    }
                                    close(result);
                                }
                            });

	                    return false;

	                }
	                else if (result.Name == 'DifferentBooker'){
	                    ShowBookerOwnershipAlert(result.Message, '@Model.BookingRequestID');
	                    return false;
	                }
	                else if (result.Name == 'error'){
	                    alert(result.Message);
	                    return false;
	                }
	                else{
	                    alert('An error occured on the server. Your changes have not been saved.');
	                    return false;
	                }
	            }
	        });
	        return false;
	    });

	    $(function () {
	        $("#summary").focus();
	        $('#f').validate();
	    });

	    $(function () {
	        var fromDate = $('#StartDate');
	        var toDate = $('#EndDate');

	        fromDate.datetimepicker( { offsetInMinutes: @Model.BookingRequestTimezoneOffsetInMinutes });
	        toDate.datetimepicker({ offsetInMinutes: @Model.BookingRequestTimezoneOffsetInMinutes });

	        fromDate.data("DateTimePicker").setDate('@Model.StartDate.ToString(@"yyyy-MM-ddTHH\:mm\:ss.fffffff")');
	        toDate.data("DateTimePicker").setDate('@Model.EndDate.ToString(@"yyyy-MM-ddTHH\:mm\:ss.fffffff")');

	        fromdata = $('#StartDate').data("DateTimePicker");
	        todata = $('#EndDate').data("DateTimePicker");

	        hideShowDates();
	    });

	    //function to remove attendee on close icon click, which was added using quick copy function on mail info section
	    function removethis(id) {
	        var removedid = $(id).closest("li").find("div").html();
	        var existingAttendees = $("#attendeesSel").val().split(',');

	        var removeindex = existingAttendees.indexOf(removedid);
	        if (removeindex > -1) {
	            existingAttendees.splice(removeindex, 1);
	        }
	        $("#attendeesSel").val(existingAttendees.join());
	        $(id).closest("li").remove();
	    }
	</script>
